@import "../../../UI/ScssUtils/mixins.scss";
@import "../../../UI/ScssUtils/variables.scss";
.group-details {
  background-color: $adminBackground;
  width: 100%;
  padding: 30px 40px;
  & .container {
    @include admin-title;
    & .profile {
      background: white;

      & .details {
        display: flex;
        gap: 40px;
        padding: 40px;
        & .personal-details {
          & .card {
            & .info {
              margin-bottom: 10px;
              padding: 5px;
              display: flex;
              &-left {
                color: #3d5ee1;
                margin-right: 10px;
                & svg {
                  margin-top: 4px;
                }
              }
              &-right {
                h1 {
                  margin: 0px;
                  color: #000;
                  font-weight: 500;
                  font-size: 16px;
                }
                & p {
                  color: $informationPColor;
                  margin: 0px;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
  }
}
