@mixin admin-title {
  & .title {
    display: flex;
    justify-content: space-between;
    & h1 {
      font-size: 22px;
      color: #2c323f;
    }
    &-left {
      font-size: 22px;
    }
    &-right {
      & h1 {
        font-size: 18px;
      }
    }
  }
}
